body, 
html {
    padding: 0;
    margin: 0;
    font-family: "Figtree", sans-serif;
}

#seccao-inicial {
    width: 100vw;
    min-height: 95vh;
    background-color: #553f37;
    background-image: url(../img/fundo-inicio.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    box-sizing: border-box;
}

.filtro-gradiente {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(270deg, rgba(85, 63, 55, 0.00) 0%, #553F37 100%);
    background: rgb(85,63,55);
    background: linear-gradient(90deg, rgba(85,63,55,1) 0%, rgba(85,63,55,0) 100%); 
    z-index: 1;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    padding: 2rem;
    box-sizing: border-box;
}

.conteudo-inicial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-height: 90vh;
    padding: 100px 0;
    box-sizing: border-box;
    width: 50%;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

.titulo-xxl {
    font-family: "Londrina Solid", sans-serif;
    font-weight: 900;
    color: white;
    text-transform: uppercase;
    font-size: 5rem;
    margin-bottom: 1rem;
}

.texto-branco {
    color: white
}

.texto-amarelo {
    color: #ffb61c;
}

.texto-verde {
    color: #6caa50;
}

.paragrafo {
    line-height: 1.5rem;
    padding-top: 0;
    padding-bottom: 2rem;
    margin: 0;
}

.btn {
    background-color: black;
    padding: 1.2rem 3rem;
    color: white;
    font-family: "Londrina Solid", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 0.5rem;
    transition: 0.4s ease-in-out;
}

.btn:hover {
    background-color: #754444;
    transform: scale(1.02);
}

.btn:active {
    background-color: #ffb61c;
    transform: scale(0.95);
}

.vermelho {
    background-color: #d51719;
}

/* MEDIA QUERIES */
/* Tablets */
@media screen and (max-width: 700px) {
    .conteudo-inicial {
        width: 75%;
    }
}

/* Mobile */
@media screen and (max-width: 500px) {
    .conteudo-inicial {
        width: 90%;
    }

    .titulo-xxl {
        font-size: 4rem;
    }
}